<a href="https://colab.research.google.com/github/sh4rkd/REPORTE-01-MIRAMONTES-FRED/blob/main/CSV/lifestore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importamos la libreria de pandas el cual contiene metodos que nos serviran para la creación de los datas frames y exportacion de la misma y lifestore que contiene la lista con los datos que convertiremos a dataframes

In [53]:
import lifestore_file
import pandas as pd

con pandas llamamos el metodo DataFrame el cual recibira como parametro cada una de las listas products, sales y searches

In [54]:
df_lifestore_products = pd.DataFrame(lifestore_file.lifestore_products)

df_lifestore_sales = pd.DataFrame(lifestore_file.lifestore_sales)

df_lifestore_searches = pd.DataFrame(lifestore_file.lifestore_searches)

Renombraremos las columnas por los nombres que podemos observar en los comentarios de lifestore_file.py para cada dataframe con su respectivo nombre

In [56]:
df_lifestore_products.columns = ["id_product", "name", "price", "category", "stock"]

df_lifestore_sales.columns = ["id_sale", "id_product", "score", "date", "refund"]

df_lifestore_searches.columns = ["id_search", "id product"]

hacemos un setter del index para definir el index dependiendo de la lista de products, sales y searches

In [57]:
df_lifestore_products.set_index("id_product")

df_lifestore_sales.set_index("id_sale")

df_lifestore_searches.set_index("id_search")

           id product
id_search
1                   1
2                   1
3                   1
4                   1
5                   1
...               ...
1029               94
1030               94
1031               95
1032               95
1033               95

[1033 rows x 1 columns]

exportamos los archivos a csv quitandole la posibilidad de crear otro indice para mantener el orden del df que creamos anteriormente para subirlo a la nube y proseguir con el proyecto.

In [58]:
df_lifestore_products.to_csv("lifestore_products.csv",index = False)

df_lifestore_sales.to_csv("lifestore_sales.csv",index = False)

df_lifestore_searches.to_csv("lifestore_searches.csv",index = False)